body{
    background-color: rgb(221, 221, 221);
    height: 100vh;
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input{
    border: 1px solid grey;
}
input:focus, button:focus{
    outline: none;
}